tmp/
coverage/
bower_components/
node_modules/
npm-debug.log
server/log/*.log
user.log
log/

typings/
build/*
!build/.ebextensions
!build/.elasticbeanstalk

.awspublish-*
.DS_Store
*.iml
.svn
.idea
.Trashes
